kpax/rust/target
kpax/dotnet/obj/
kpax/python/.idea/
kpax/dotnet/bin/
kpax/java/target/
kpax/zig/.zig-cache/
kpax/zig/zig-out/
kpax/java/.idea/
kpax/ui/react/node_modules/
kpax/ui/vue/node_modules/
kpax/ui/angular/node_modules/
kpax/node/node_modules/