rust/target
dotnet/obj/
python/.idea/
dotnet/bin/
java/target/
zig/.zig-cache/
zig/zig-out/
java/.idea/
ui/react/node_modules/
ui/vue/node_modules/
ui/angular/node_modules/
node/node_modules/
python/__pycache__/
